.w-switcher {
    position:fixed;
    left:-225px;
    top:20px;
    z-index:30;
    border-radius:0 5px 5px 0;
    background-color:#111;
    background-color:rgba(0, 0, 0, 0.85);
    color:#fff
}
.w-switcher-head {
    padding:0 25px;
    height:0;
    width:225px;
    position:relative
}
.w-switcher-title {
    display:none;
    font-size:16px;
    line-height:40px;
    font-weight:300
}
.w-switcher-control {
    position:absolute;
    top:100px;
    right:-50px;
    font-size:24px;
    text-align:center;
    line-height:48px;
    height:50px;
    width:50px;
    cursor:pointer;
    border-radius:0 5px 5px 0;
    background-color:#111;
    background-color:rgba(0, 0, 0, 0.85);
    -webkit-transition:background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition:background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.w-switcher-control:hover {
    background-color:#000;
    color:#9bd849
}
.w-switcher-body {
    padding:15px 24px 5px;
    width:225px
}
.w-switcher-section {
    margin-bottom:20px
}
.w-switcher-section-title {
    display:block;
    font-size:12px;
    text-align:center;
    margin-bottom:10px
}
.w-switcher-section-list {
    margin-right:-5px
}
.w-switcher-section-list:after, .w-switcher-section-list:before {
    display:table;
    content:''
}
.w-switcher-section-list:after {
    clear:both
}
.w-switcher-section-item {
    float:left;
    font-size:12px;
    line-height:26px;
    text-align:center;
    text-decoration:none;
    margin:0 5px 2px 0;
    width:25px;
    height:26px;
    position:relative;
    background-color:#444;
    color:#fff
}
.w-switcher-section-item:focus, .w-switcher-section-item:hover {
    color:#fff
}
.w-switcher-section-item.active {
    box-shadow:0 0 0 1px #fff;
    color:#fff
}
.w-switcher-section-item .text {
    display:;
    position:relative;
    padding:2px 5px;
    border-radius:3px;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    background-color:#333;
    background-color:rgba(0, 0, 0, 0.5)
}
.w-switcher-section-text {
    display:none;
    font-size:12px;
    color:#999
}
.w-switcher-section.for_layout .w-switcher-section-item {
    width:85px
}
.w-switcher-section.for_color .w-switcher-section-item {
    width:175px
}
.w-switcher-section-item .colorblocks {
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:26px;
    width:100%;
    overflow:hidden
}
.w-switcher-section-item .colorblocks i {
    float:left;
    height:26px;
    width:50%
}
.w-switcher-section-item.color_0 .c1 {
    background-color:#fff
}
.w-switcher-section-item.color_0 .c2 {
    background-color:#F8862C
}
.w-switcher-section-item.color_1 .c1 {
    background-color:#56627F
}
.w-switcher-section-item.color_1 .c2 {
    background-color:#31C5C7
}
.w-switcher-section-item.color_2 .c1 {
    background-color:#1A1A1A
}
.w-switcher-section-item.color_2 .c2 {
    background-color:#F8862C
}
.w-switcher-section-item.color_3 .c1 {
    background-color:#2c3e50
}
.w-switcher-section-item.color_3 .c2 {
    background-color:#1abc9c
}
.w-switcher-section-item.color_4 .c1 {
    background-color:#4e4037
}
.w-switcher-section-item.color_4 .c2 {
    background-color:#f0a71d
}
.w-switcher-section-item.color_5 .c1 {
    background-color:#1A1A1A
}
.w-switcher-section-item.color_5 .c2 {
    background-color:#32BEEB
}
.w-switcher-section-item.color_6 .c1 {
    background-color:#fff
}
.w-switcher-section-item.color_6 .c2 {
    background-color:#FF5842
}
.w-switcher-section-item.color_7 .c1 {
    background-color:#2E3436
}
.w-switcher-section-item.color_7 .c2 {
    background-color:#6EBB25
}
@media only screen and (max-width:1023px) {
    .w-switcher {
        display:none
    }
}
