.circular {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-bottom: 30px;
    overflow: hidden;
    border-color: #d0d6d9;
    border : 5px solid #d0d6d9;
    margin-right: 12px;

}

.white{
    background-color: #fff;
    margin-bottom: 20px;
    padding : 2px;
}

.box
{
  float: right;
  clear: right;
  width: 18.9em;
  border-top-width: 4px;
  border-right-width-value: 4px;
  border-bottom-width: 4px;
  border-left-width-value: 4px;
  border-top-style: solid;
  border-right-style-value: solid;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-top-color: #bfbfbf;
  border-right-color-value: #bfbfbf;
  border-bottom-color: #bfbfbf;
  border-left-color-value: #bfbfbf;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-top: 1.2em;
  padding-right: 1.3em;
  padding-bottom: 1.2em;
  padding-left: 1.3em;
}

.more-box
{
  border-top-width: medium;
  border-right-width-value: medium;
  border-bottom-width: medium;
  border-left-width-value: medium;
  border-top-style: none;
  border-right-style-value: none;
  border-bottom-style: none;
  border-left-style-value: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  width: 19.7em;
  margin-left: 1.6em;
  background-color: #f2f2f2;
  background-image: url("corner-download-color-3.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 100% 0px;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

.head{  
  color: #262626;
  font-size: 250%;
  font-weight: normal;
  margin-bottom: 38px;
}



.head1{  
  color: #262626;
  font-size: 150%;
  font-weight: normal;
  margin-top: 20px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.circular1 {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    overflow: hidden;
    border-color: #d0d6d9;
}

.circular1 img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.rounded {
    width: 100%;
    height: auto;
    display: inline-block;
    border-style : solid;
    border-width : thin;
    border-radius: 10px;
    padding: 6px;
    border-color: #d0d6d9;
    margin-bottom: 20px;
}

.round_ava {
    width: 100%;
    height: 315px;
    display: inline-block;
    overflow: hidden;
}

.rounded1 {
    width: 100%;
    height: 35px;
    display: inline-block;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.rounded2 {
    width: 300px;
    height: 35px;
    display: inline-block;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.border_bottom {
    border-bottom: solid;
    border-width : thin;
    border-color: #d0d6d9;
    margin-bottom: 20px;
}

.ava {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin: 10px;
}

.ava img {
    opacity: 0;
    filter: alpha(opacity=0);
}

img.float_left{
    float: left;
    margin-right: 18px;
}

.rectan {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border : 5px solid #d0d6d9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.underline {
    border-bottom: 2px solid #d0d6d9;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.underline1{
    border-bottom: 2px solid #d0d6d9;
}

.box1{
    border:2px solid #d0d6d9;;
    border-radius:10px;
    padding:5px;
    width: 100%;
    height: fit-content;
}

.columnHeader{color:#382110;font-weight:bold;font-size: 1.1em}

.box1 h1,.box1 h2{
    margin:0;
    color:#000000;
    font-size:1.7em
}

.dataTitle {
    color: #382110;
    font-weight: bold;
    width: 25%;
    float: left;
    margin: 1px 0px;
}
.dataItem {
    float: left;
    width: 75%;
    margin: 1px 0px;
}

.dataTitle1 {
    width: 45%;
    float: left;
}
.dataItem1 {
    color: #aaa;
    float: right;
    width: 55%;
}

.right{float:right}

.left{float:left}

.box1 li{margin-left:17px}.box1 .content{margin:8px}


.inset-text {
    font-size: 40px;
    color: #344251;
    text-shadow: 1px 1px 0px #bad3ed;
    font-weight: bold;
    margin-bottom: 10px;
}

.header {
    background-image: url('header.jpg');
}

.white-popup-block {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 5px;
    z-index:500;
}
.ui-dialog {
    z-index:1000;
}

.coverBorder
{
    border-top-width: 1px;
    border-right-width-value: 1px;
    border-bottom-width: 1px;
    border-left-width-value: 1px;
    border-top-style: solid;
    border-right-style-value: solid;
    border-bottom-style: solid;
    border-left-style-value: solid;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-right-color-value: rgba(0, 0, 0, 0.25);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-value: rgba(0, 0, 0, 0.25);
    border-top-color: rgba(0, 0, 0, 0.1);
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Line 28 */
.coverNoImage, .coverBorder
{
    background-color: transparent;
    background-image: url("/rsrc.php/v2/yJ/r/UgNUNkKQar6.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: left bottom;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-bottom-color: rgba(0, 0, 0, 0.4);
}

.cover1 {
    width : 100%;
    height : 410px;
    position : relative;
    display: inline-block;
    overflow: hidden;
}


.view2 {
    position: relative;
    width: 100%;
    height: 375px;
    display: inline-block;
    overflow: hidden;
}

.view2 .content-3 {
    width: 50px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    padding: 230px 80%;
    top: 0;
    left: 0;
}

.view2 img{
    width: 100%;
    height: 100%;
}


.view1 {
    position: relative;
    border: 5px hidden;
    width: 200px;
    height: 200px;
}

.view1 img{
    opacity: 0;
    filter: alpha(opacity=0);
}

.view1 .content-2 {
    margin-left: 30px;
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    padding: 100px 15%;
    top: 0;
    left: 0;
}

.effect img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border : 3px;
    border : hidden;
    opacity:1;
    transition: all 0.2s ease-in;
}

.effect div.info {
    opacity:0;
    transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;
}

.effect:hover img {
    opacity:0.7;
}

.effect:hover div.info {
    opacity:1;
}

.effect1 div.info1 {
    opacity:0;
    transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;
}

.effect1:hover div.info1 {
    opacity:1;
}

div.custom_file_upload {
    width: 150px;
    height: 20px;
}

input.file {
    width: 150px;
    height: 20px;
    color: #888;
    outline: none;
}

form.file_upload {
    width: 150px;
    height: 20px;
    background: #7abcff;
    background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );

    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;

    font-weight: bold;
    color: #FFF;
    text-align: center;
}
form.file_upload:before {
    content: 'Thay đổi ảnh bìa';
    position: absolute;
    left: 0; right: 0;
    text-align: center;
    cursor: pointer;
}

form.file_upload input {
    position: relative;
    height: 20px;
    width: 150px;
    display: inline;
    cursor: pointer;
    opacity: 0;
}

div.custom_file_upload1 {
    width: 70px;
    height: 20px;
}

form.file_upload1 {
    width: 70px;
    height: 20px;
    background: #7abcff;
    background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );

    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;

    font-weight: bold;
    color: #FFF;
    text-align: center;
}
form.file_upload1:before {
    content: 'chọn ảnh';
    position: absolute;
    left: 0; right: 0;
    text-align: center;
    cursor: pointer;
}

form.file_upload1 input {
    position: relative;
    height: 20px;
    width: 70px;
    display: inline;
    cursor: pointer;
    opacity: 0;
}

.roundedBorder
{
    border-width: 1px;
    border-style: solid;
    border-color: #d3d6db;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: #F6F7F8;
}

.navigation
{
    float: right;
    width: 100%;
}

/* Line 1 */
.teacherList-nav .navigation
{
    font-family: Helvetica,Arial,sans-serif;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 250px;
}

.auto_complete_field_input
{
    width: 230px;
    padding-right: 25px;
}

/* Line 1 */
.teacherList-nav .navigation
{
    width: 100%;
}

/* Line 1 */
.actionLinkLite
{
    color: #215625;
    font-family: Helvetica,Arial,sans-serif;
}

/* Line 1 */
.teacherList-nav .navigationLinks a
{
    clear: left;
    display: block;
    height: 30px;
    vertical-align: middle;
}

.teacherList-nav .navigationLinks a.selected
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('arrow.png');
    color: white;
    font-weight: bold;
    height: 23px;
    left: -5px;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    position: absolute;
    top: -3px;
    vertical-align: middle;
    width: 200px;
}

.teacherImage
{
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    bottom: 0px;
}

.coverWrapper
{
    width: 130px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    height: 220px;
    position: relative;
    margin-left: 6px;
}


.round {
    width : 100%;
    height : 800px;
    border : 1px solid #d3d6db;
    border-radius: 5px;
    border : 5px solid #d0d6d9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    padding : 10px;
}

.teacherList {
    height: 300px;
    margin-bottom: 10px;
}

.teacherList .leftAlignedImage
{
    margin: 10px;
    width: 20%;
    overflow-x: visible;
    overflow-y: visible;
    position: relative;
    text-align: center;
    float: left;
}

.ratingMargin {
    margin-left: 10px;
}

#teacherListHeader
{
    background-color: #e4f4da;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.Side {
    background-color: #F6F7F8;
    border-width: 1px;
    border-style: solid;
    border-color: #d3d6db;
}

.header-teacher {
    background-color: #D0F2BB;
}

.header-margin {
    margin-top: 20px;
}

.header-color {
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #d3d6db;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d3d6db;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d3d6db;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fcfcfc;
}

.body-color {
    background-color: #ebf0f0;
}

.navRow {

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e9eaed;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 0px;
    margin-left: 12px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

#container{
    margin:0 auto;
    width:100%;
}

#container-content{
    border:solid 1px #cccccc;
    padding:20px;
    width:558px;
    color:#cccccc;
}

#info_box{
    padding:60px 50px 0px 10px;
    border:solid 1px #dedede;
    width:100%;
    background-color:#fcfcfc;
    margin-top:312px;
}

#profile_img{
    background-color: #FFFFFF;
    border: 2px #d3d6db;
    margin-left: 40px;
    position: absolute;
    width: 210px;
    height: 210px;
    margin-top: 200px;
    display: inline-block;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    overflow: hidden;
    padding : 5px;
}

.avatar_img{
    padding:3px;
}

#cover_container{
    overflow: auto;
    width: 100%;
    height : 325px;
}

#info-box{
    margin-left:115px;
    margin-top: -50px;
    position: absolute;
}

#info-name{
    float:left;
    overflow:hidden;
    word-wrap: break-word;
    width:150px;
}

#info-content{
    margin-left:170px;
    width:290px;
}

#info-photos{
    text-align:center;
    font-size:11px;
    padding:5px;
    float:left;
    width:80px;
    border:solid 1px #eeeeee;
    -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#info-friends{
    text-align:center;
    font-size:11px;
    padding:5px;
    margin-left:100px;
    border:solid 1px #eeeeee;
    width:80px;
    -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

.ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ih-item a {
    color: #333;
}
.ih-item a:hover {
    text-decoration: none;
}
.ih-item img {
    width: 100%;
    height: 100%;
}

.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.ih-item.circle .img {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.ih-item.circle .img:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
    border-radius: 50%;
}
.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ih-item.circle.effect13.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect13 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 .info h3 {
    visibility: hidden;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 55px 0 0 0;
    height: 110px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 .info p {
    visibility: hidden;
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 a:hover .info {
    opacity: 1;
}
.ih-item.circle.effect13 a:hover h3 {
    visibility: visible;
}
.ih-item.circle.effect13 a:hover p {
    visibility: visible;
}

.ih-item.circle.effect13.from_left_and_right .info h3 {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.ih-item.circle.effect13.from_left_and_right .info p {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.ih-item.circle.effect13.from_left_and_right a:hover h3 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.ih-item.circle.effect13.from_left_and_right a:hover p {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

#cssmenu {
    float: left;
    width: 100%;
    font-size: 110%;
    line-height: normal;
    border-bottom: 1px solid #666;
}
#cssmenu ul {
    margin: 0;
    padding: 10px 10px 0 50px;
    list-style: none;
}
#cssmenu li {
    display: inline;
    margin: 0;
    padding: 0;
}
#cssmenu a {
    float: left;
    background: url('tableftf.gif') no-repeat left top;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}
#cssmenu a span {
    float: left;
    display: block;
    background: url('tabrightf.gif') no-repeat right top;
    padding: 5px 15px 4px 6px;
    color: #666;
}
/* Commented Backslash Hack hides rule from IE5-Mac */
#cssmenu a span {
    float: none;
}
/* End IE5-Mac hack */
#cssmenu .active a span,
#cssmenu a:hover span {
    color: #FFFFFF;
}
#cssmenu .active a,
#cssmenu a:hover {
    background-position: 0 -42px;
}
#cssmenu .active a span,
#cssmenu a:hover span {
    background-position: 100% -42px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#ts_tabmenu {
    font-size: 1.1em; /* set the font size */
    padding: 20px 0px 0px 20px; /* set the padding */

    border-bottom: 1px solid #666;
}
#ts_tabmenu ul {
    line-height: 1em; /* setting the line height now so we don't have any headaches*/
    margin: 0px; /* let's keep the margin set to 0 for the same reasons as above*/
    list-style-type: none; /* we remove the UL's default disc bullets */
    float: left; /* we float the list to the left like we will all the elements inside*/
    padding: 0px 0px 0px 5px; /* give it a left padding of 5px to counter the effect of margin -5px below */
}
#ts_tabmenu ul li {
    float: left; /* floatin' left */
}
#ts_tabmenu ul li a {
    text-decoration: none; /* remove the default underline off the anchor text */
    display: block; /* we display this text as block so that we can apply padding/margin without problems */
    float: left; /* floatin' left, to make the menu horizontal */
    padding: 0px 0px 0px 10px;  /* we give it a left padding of 10px to show the first 10 pixels of the tabs image. you can also use padding-left: 10px; */
    background: url('tabs0000.gif') no-repeat left top;  /* we link to the tabs image, no tiling, showing the top left part of it */
    margin-left: -5px;  /* this is important for the overlapping part - we are overlapping the tabs by 5 px */
    z-index: 0; /* keep it on layer 0 (default) */
    position: relative;  /* very important as this enables the z-index to work for us and keeps the tabs where they should be */
    color: #666666;  /* color of the tab text */
}
#ts_tabmenu ul li a strong {
    font-weight: normal;   /* remove the bold effect */
    display: block;   /* display the strong element as a block so we can pad it, etc. */
    float: left;   /* float it left as well */
    background: url('tabs0000.gif') no-repeat right top;  /* now we show the right part of the tab and we complete the "puzzle" */
    padding: 6px 10px 7px 5px;  /* important, as through this you define the position of the text within the tab */
    cursor: pointer;  /* this makes the browser show the "hand" cursor when hovering over the tab */
}
#ts_tabmenu ul li a:hover {
    position: relative; /* again, keep things relative */
    z-index: 5; /* we show this tab over all other tabs in the menu, which would be on layer 0, thus overlapping occurs */
    background: url('tabs0000.gif') no-repeat left bottom;  /* now we show the bottom part of the tabs image, the "hover" instance */
    color: #000000;   /* we color the hovered tab's text black */
}
#ts_tabmenu ul li a:hover strong {
    background-image: url('tabs0000.gif') no-repeat;  
    position: relative; /* keep it relative */
    z-index: 5; /* show this on layer 5 as well */
    background-position: right bottom; /* we show the right bottom part of the tabs image (the hover instance) */
}
#tsmenu1 #li_tsmenu1 a, #tsmenu2 #li_tsmenu2 a, 
#tsmenu3 #li_tsmenu3 a, #tsmenu4 #li_tsmenu4 a, 
#tsmenu5 #li_tsmenu5 a, #tsmenu6 #li_tsmenu6 a, 
#tsmenu7 #li_tsmenu7 a {
    position: relative;
    z-index: 5; 
    background: url('tabs0000.gif') no-repeat left bottom;  
    color: #000000; 
}
#tsmenu1 #li_tsmenu1 a strong, #tsmenu2 #li_tsmenu2 a strong, 
#tsmenu3 #li_tsmenu3 a strong, #tsmenu4 #li_tsmenu4 a strong, 
#tsmenu5 #li_tsmenu5 a strong, #tsmenu6 #li_tsmenu6 a strong, 
#tsmenu7 #li_tsmenu7 a strong {	
    background-image: url('tabs0000.gif') no-repeat;  
    position: relative; 
    z-index: 5; 
    background-position: right bottom; 
}

