.circular {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin-bottom: 30px;
    overflow: hidden;
    border-color: #d0d6d9;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.rounded {
    width: auto;
    height: auto;
    display: inline-block;
    border-style : solid;
    border-width : thin;
    border-radius: 10px;
    padding: 6px;
    border-color: #d0d6d9;
}

.round_ava {
    width: 100%;
    height: 315px;
    display: inline-block;
    overflow: hidden;
}

.rounded1 {
    width: 100%;
    height: 35px;
    display: inline-block;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.border_bottom {
    border-bottom: solid;
    border-width : thin;
    border-color: #d0d6d9;
    margin-bottom: 20px;
}

.ava {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin: 10px;
}

.ava img {
    opacity: 0;
    filter: alpha(opacity=0);
}

img.float_left{
    float: left;
    margin-right: 18px;
}

.rectan {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}

.box1{
    border:2px solid #d0d6d9;;
    border-radius:10px;
    padding:5px;
    width: 100%;
    height: fit-content;
}

.columnHeader{color:#382110;font-weight:bold;font-size: 1.1em}

.box1 h1,.box1 h2{
    margin:0;
    color:#000000;
    font-size:1.7em
}

.dataTitle {
    color: #382110;
    font-weight: bold;
    width: 25%;
    float: left;
    margin: 1px 0px;
  }
  .dataItem {
    float: left;
    width: 75%;
    margin: 1px 0px;
  }
  
  .dataTitle1 {
    font-weight: bold;
    width: 45%;
    float: left;
    margin: 1px 0px;
  }
  .dataItem1 {
    float: left;
    width: 55%;
    margin: 1px 0px;
  }

.right{float:right}

.box1 li{margin-left:17px}.box1 .content{margin:8px}


.inset-text {
    font-size: 40px;
    color: #344251;
    text-shadow: 1px 1px 0px #bad3ed;
    font-weight: bold;
    margin-bottom: 10px;
}

.header {
    background-image: url('header.jpg');
}

.white-popup-block {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 5px;
    z-index:500;
}
.ui-dialog {
    z-index:1000;
}