.list_document {
    list-style: none;
    position: relative;
}
.item_document {
    text-align: center;
    position: relative;
    width: 30.555555555555556%;
    float: left;
    padding: 0;
    margin: 0 4.166666666666667% 30px 0;
}
.item_document:nth-child(3n) {
    margin-right: 0px;
}
.box_item {
    position: relative;
    clear: left;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}
.short_info_document {
    padding: 10px;
    position: relative;
}
.document_img {
    max-width: 100%;
    height: 0;
    padding-bottom: 130%;
    overflow: hidden;
}
.document_img_hover {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 54px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    text-align: left;
    font-style: normal;
    color: #888;
    overflow: hidden;
    z-index: 3;
    box-sizing: border-box;
    background-color: white;
    transition: opacity 0.3s;
}
.document_img:hover .document_img_hover {
    opacity: 0.95;
}
.describe_document {
    color: #777;
    line-height: 1.5;
    font-size: 13px;
    display: block;
    margin: 0 0 10px 0;
}
.document_status {
    margin: 10px 0 0 0;
    text-align: left;
    position: relative;
    list-style: none;
}
.document_status li {
    float: right;
    width: auto;
    margin: 0 0 0 6px;
    display: inline;
    font-size: 12px;
    line-height: 1;
    color: #aaa;
    position: relative;
}
.timestamp {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0 0 3px 0;
    font-weight: bold;
    color: #999
}
.attribution-user {
    max-height: 16px;
    margin: 6px 0 0 0;
    padding: 0 0 0 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4em;
    color: #999;
    float: right;
}
.url_user {} .photo_user {
    float: left;
    width: 16px;
    max-height: 16px;
    margin: 0 4px 0 0;
    border-radius: 50%;
}
.checkbox-styled {
    display: block;
    margin: 10px 5px 0 0;
    float: left;
}
.checkbox-styled input[type="checkbox"] {
    display: none;
}
.checkbox-styled input[type="checkbox"] + span {
    padding: 0 5px 0 5px;
    border-radius: 3px;
    background: #27ae60;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    -moz-transition: background 0.1s ease-in;
    -o-transition: background 0.1s ease-in;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
}
.checkbox-styled input[type="checkbox"] + span:hover {
    background: #1e8449;
}
.checkbox-styled input[type="checkbox"] + span.sad:before {
    content: ":(";
}
.checkbox-styled input[type="checkbox"]:checked + span {
    background: #145b32;
}
.wrap_fliter {
    margin-top: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 4px;
}
.morph-button {
    position: relative;
    display: block;
    margin: 0 auto;
    transition: all 0.25s ease;
}
.morph-button > button {
    font-size: 16px;
    position: relative;
    padding: 0 1em;
    border: none;
    background-color: #e85657;
    color: #f9f6e5;
    letter-spacing: 0.7px;
    font-weight: 600;
    line-height: 20px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    transition: all 0.25s ease;
}
.morph-button > button:active {
    box-shadow: 0 0 #ab3c3c;
    top: 1px;
}
.morph-button:hover > button {
    box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.morph-button > button, .morph-button .morph-content {
    border-radius: 3px;
    background-color: #429edb;
}
.morph-button.open > button {
    pointer-events: none;
}
.morph-content {
    pointer-events: none;
}
.morph-button.open .morph-content {
    pointer-events: auto;
}
/* Common styles for overlay and modal type (fixed morph) */

.morph-button-fixed, .morph-button-fixed .morph-content {
    width: 227px;
    height: 50px;
}
.morph-button-fixed > button {
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.1s 0.5s;
    transition: opacity 0.1s 0.5s;
}
.morph-button-fixed.open > button {
    opacity: 0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.morph-button-fixed .morph-content {
    position: fixed;
    z-index: 900;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s, background-color 1s ease-out;
}
.morph-button-fixed.open .morph-content {
    opacity: 1;
    background-color: white;
}
.morph-button-fixed .morph-content > div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
    transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}
.morph-button-fixed.open .morph-content > div {
    visibility: visible;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}
.morph-button-fixed.active > button {
    z-index: 2000;
}
.morph-button-fixed.active .morph-content {
    z-index: 1900;
}
/* Morph Button Style: Modal */

.morph-button-modal::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    pointer-events: none;
}
.morph-button-modal.open::before {
    opacity: 1;
    pointer-events: auto;
}
.morph-button-modal.active::before {
    z-index: 1800;
}
.morph-button-modal .morph-content {
    overflow: hidden;
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s, background-color 1s ease-out;
}
.morph-button-modal.open .morph-content {
    top: 50% !important;
    left: 50% !important;
    margin: -210px 0 0 -300px;
    width: 600px;
    height: 450px;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s, background-color 1s ease-out;
}
/* Let's add some nice easing for all cases */

.morph-button .morph-content, .morph-button.open .morph-content {
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.content-style-text {
    padding: 40px;
    text-align: left;
}
.content-style-text p {
    font-weight: 300;
    font-size: 1.15em;
    line-height: 1.4;
}
.content-style-text label {
    padding: 10px;
    color: #f9e1c9;
    font-weight: bold;
}
.content-style-text .icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.content-style-text .icon-close:hover, .cancel_file:hover {
    color: rgba(0, 0, 0, 0.5);
}
.info_file {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding: 6px 10px 7px 10px;
    border-radius: 3px;
    margin: 5px 0;
    cursor: pointer;
}
.cancel_file, .content-style-text .icon-close {
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}
.cancel_file {
    float: right;
}
#name_document, #description_document {
    background-color: white !important;
    margin: 5px 0;
}
.progress {
    background: none repeat scroll 0% 0% #27AE60;
}
.info_file_content:after, .info_file_content:before {
    position: absolute;
    right: 20px;
    color: #0E7138;
    font-family: "icomoon";
    opacity: 0;
    transition: opacity 0.3s ease 0.3s;
}
.info_file_content:before {
    content: "\f00c";
}
.info_file_content:after {
    content:"\f00d"
}
.name_document {
    height: 100px;
}