/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2014, 5:43:37 PM
    Author     : DuyKien
*/

form { 
    min-width: 200px;
    width: -webkit-calc(100% -20px);
    width: -moz-calc(100% -20px);
    width: calc(100% -20px);
    max-width: 400px;
    margin: 0 auto; 
}
form textarea, 
form input { 
    width: 100%;
}